package ${package.Service};

#set($end=$entity.length() - 2)
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.lgq.dto.admin.${entity.substring(0,$end)}DTO;
import ${package.Entity}.admin.${entity};

import java.util.Map;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

        Page<Map<String, Object>> selectPageBySql(Page<Map<String, Object>> page, Map<String, Object> queryCondition);

        Map<String, Object> getById(Long id);

        Map<String, Object> add(${entity.substring(0,$end)}DTO ${entity.substring(0,1).toLowerCase()}${entity.substring(0,$end)}DTO);

        Map<String, Object> alter(Long id, ${entity.substring(0,$end)}DTO ${entity.substring(0,1).toLowerCase()}${entity.substring(0,$end)}DTO);

        void deleteById(Long id);

        void deleteBatchIds(String ids);

}
#end
