<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgq.mapper.admin.BlogDetailMapper">

    <!-- 集合查询& 分页查询例子,入参数为Map,出参数也为Map -->
    <select id="selectPageBySql" resultType="java.util.Map">
        select
                    ID id,
                    BLOG_ID blogId,
                    CONTENT content,
                    MARKDOWN markdown,
                    IS_DELETED isDeleted,
                    CREATED_BY createdBy,
                    CREATED_NAME createdName,
                    DATE_FORMAT(CREATED_AT,'%Y-%m-%d %H:%i:%s') createdAt,
                    UPDATED_BY updatedBy,
                    UPDATED_NAME updatedName,
                    DATE_FORMAT(UPDATED_AT,'%Y-%m-%d %H:%i:%s') updatedAt,
                    VERSION version
        from t_blog_detail t
        where t.IS_DELETED = 0
            <if test=" params.id !=null and params.id != '' ">and t.ID = #{params.id}</if>
            <if test=" params.blogId !=null and params.blogId != '' ">and t.BLOG_ID = #{params.blogId}</if>
            <if test=" params.content !=null and params.content != '' ">and t.CONTENT = #{params.content}</if>
            <if test=" params.markdown !=null and params.markdown != '' ">and t.MARKDOWN = #{params.markdown}</if>
            <if test=" params.isDeleted !=null and params.isDeleted != '' ">and t.IS_DELETED = #{params.isDeleted}</if>
            <if test=" params.createdBy !=null and params.createdBy != '' ">and t.CREATED_BY = #{params.createdBy}</if>
            <if test=" params.createdName !=null and params.createdName != '' ">and t.CREATED_NAME = #{params.createdName}</if>
            <if test=" params.createdAt !=null and params.createdAt != '' ">and t.CREATED_AT = #{params.createdAt}</if>
            <if test=" params.updatedBy !=null and params.updatedBy != '' ">and t.UPDATED_BY = #{params.updatedBy}</if>
            <if test=" params.updatedName !=null and params.updatedName != '' ">and t.UPDATED_NAME = #{params.updatedName}</if>
            <if test=" params.updatedAt !=null and params.updatedAt != '' ">and t.UPDATED_AT = #{params.updatedAt}</if>
            <if test=" params.version !=null and params.version != '' ">and t.VERSION = #{params.version}</if>
            <if test=" params.createdAtBegin !=null and params.createdAtBegin != '' "> and DATE_FORMAT(CREATED_AT,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{params.createdAtBegin},'%Y-%m-%d') </if>
            <if test=" params.createdAtEnd !=null and params.createdAtEnd != '' "> and DATE_FORMAT(CREATED_AT,'%Y-%m-%d') &lt; DATE_FORMAT(DATE_ADD(#{params.createdAtEnd},INTERVAL 1 DAY),'%Y-%m-%d') </if>
            <if test=" params.updatedAtBegin !=null and params.updatedAtBegin != '' "> and DATE_FORMAT(UPDATED_AT,'%Y-%m-%d') &gt;=  DATE_FORMAT(#{params.updatedAtBegin},'%Y-%m-%d') </if>
            <if test=" params.updatedAtEnd !=null and params.updatedAtEnd != '' "> and DATE_FORMAT(UPDATED_AT,'%Y-%m-%d') &lt; DATE_FORMAT(DATE_ADD(#{params.updatedAtEnd},INTERVAL 1 DAY),'%Y-%m-%d') </if>
    </select>

</mapper>
